---
import { ClientRouter } from 'astro:transitions';
import '@fontsource-variable/inter';

interface Props {
	title: string;
	description?: string;
}

const { title, description = "Astro high performance starter" } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/webp" href="/logoAlgoritmia.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		
		<link rel="canonical" href="https://algoritmiadesarrollos.com.ar/" />
		<meta name="robots" content="index, follow" />
		<meta name="author" content="Algoritmia" />
		
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content="https://algoritmiadesarrollos.com.ar/logoAlgoritmia.webp" />
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:title" content={title} />

		<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap" rel="stylesheet" />
        
		<ClientRouter />
	</head>
	<body class="antialiased text-gray-900 bg-white">
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
	}

	html {
		font-family: 'Inter Variable', sans-serif;
		background: #13151a;
		scroll-behavior: smooth;
        width: 100%;
        overflow-x: hidden;
	}

    /* SISTEMA DE ANIMACIONES */
    .reveal {
        opacity: 0;
        transform: translateY(30px);
        transition: all 0.8s cubic-bezier(0.16, 1, 0.3, 1);
        filter: blur(5px);
    }
    .reveal.active {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
    .delay-100 { transition-delay: 0.1s; }
    .delay-200 { transition-delay: 0.2s; }
    .delay-300 { transition-delay: 0.3s; }
</style>

<script>
    // ANIMACIONES
    const observerOptions = {
        root: null,
        rootMargin: '0px',
        threshold: 0.1
    };
    
    const observer = new IntersectionObserver((entries, observer) => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                entry.target.classList.add('active');
                observer.unobserve(entry.target); 
            }
        });
    }, observerOptions);

    function initAnimations() {
        const revealElements = document.querySelectorAll('.reveal');
        revealElements.forEach(el => observer.observe(el));
    }

    document.addEventListener('astro:page-load', initAnimations);
    document.addEventListener('DOMContentLoaded', initAnimations);
</script>
